@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:100,200,300,400');

body{
    background-color: #ffffff;
}

.box { 
    border: none;
    column-gap: 20px;
    margin-left: 50px;
    display: flex;
} 
.btn-box {
    margin-top: 20px;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}

.autoresizing {
    display: block;
    overflow: hidden;
    resize: none;
}

.border {
  border: none;
}

.mr-0 {
  margin-right: 10px;
}
.ml-auto {
  margin-left:auto;
}
.d-block {
  display:block;
}